*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #333;

    width: 100vw;
    height: 100vh;

    font: 15px "Sans Serif";
}

body#form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body#form>main 
{
    display: block;
      align-self: center;
      width: 350px;
      margin: 0 0;
    background: white;

    box-shadow: 0px 0px 5px #000;
}

body#form>main>h1
{
    padding: 20px;
    padding-top: 25px;
    text-align: center;
    font-size: 2rem;
    color: #2c3e50;
}

body#form>main>form 
{
    padding: 15px;
    display: flex;
    flex-direction: column;

}

form span
{
    color: #333;
    font-size: 0.75rem;
    font-style: italic;

}

body#form>main>div
{
    padding: 15px;
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
}

body#form>main>div.error
{
    text-align: left;
    font-weight: 900;
    background-color: #e74c3c;
}

body#form>main>div a
{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

body#form>main>div a:hover
{
    text-decoration: underline;
}


input
{
    margin-bottom: 5px;
    width: 100%;
    align-self: center;

    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 5px;
}

input[type=submit]
{

    width: auto;
    margin-top: 15px;
    padding: 10px;
    background: #2ecc71;
    font-weight: 900;
    color: white;
}

input[type=submit]:hover
{

    background: #27ae60;
}

body#form footer
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fff;
}





/****************      MAIN       *********************/

body#main
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #AAA;
}

body#main>header
{
    z-index: 100;
    width: 100vw;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: #333;
    color: #fff;

    box-shadow: 0px 0px 5px #000;
}

body#main>header>div
{
    height: 40px;
    line-height: 40px;
}

body#main>header>div:nth-child(1)
{
    font-weight: 900;
    font-size: 1.25rem;
    color: #2ecc71;
    padding: 0px 10px;
}

body#main>header>div a
{
    margin-left: 15px;
    background: #2ecc71;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    padding: 0px 25px;
    text-align: center;
    font-weight: 900;

    box-shadow: 0px 0px 5px #000;
}


body#main>header>div a:hover
{
    background: #27ae60;
}

body#main>section
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

body#main>section>nav
{
    z-index: 90;
    height: calc(100vh - 50px);
    width: 250px;
    padding-top: 10px;

    box-shadow: 0px 0px 5px #000;
    background: #353535;
}
body#main>section>nav a
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    width: 230px;
    padding: 10px 0px;
    text-align: left;
    font-weight: 900;
    font-size: 1.1rem;

    border-bottom: #222 solid 2px  ;

}

body#main>section>nav a.selected
{
    color: #2980b9;
}

body#main>section>nav a:hover
{
    color: #3498db
}

body#main>section>nav a.selected:hover
{
    color: #2980b9;
}


body#main>section>nav a:last-child
{
    border-bottom: none;
}

body#main>section>section>main
{
    z-index: 70;
    height: calc(100vh - 110px);
    width: calc(100vw - 300px);
    padding: 25px;
    overflow:  auto;
    background: #AAA;

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: start;
}

body#main>section>section>footer
{
    z-index: 80;
    height: 20px;
    line-height: 20px;
    font-size: 0.75rem;
    width: calc(100vw - 260px);

    box-shadow: 0px 0px 5px #000;
    background: #333;
    color: #fff;
    text-align: right;
    padding: 0px 5px;
}

body#main>section>section>main article
{
    z-index: 50;
    background: #fff;
    box-shadow: 0px 0px 5px #000;
    margin: 10px;
}

body#main>section>section>main article>h1
{
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background: #2c3e50;
    color: #fff;
    box-shadow: 0px 0px 5px #000;
    z-index: 60;

}

body#main>section>section>main article>div.error
{
    padding: 10px;
    color: #fff;

    text-align: left;
    font-weight: 900;
    background-color: #e74c3c;
}

body#main>section>section>main article>form, body#main>section>section>main article>section
{
    padding: 15px;
    display: flex;
    flex-direction: column;

} 